<mat-card *ngIf="curso">
  <mat-card-title>
    Detalle de curso
  </mat-card-title>
  <mat-card-content>
    id: {{curso.idCurso}}<br>
    Nombre: {{curso.nombreCurso}}<br>
    Comision: {{curso.comision}}<br>
    Profesor: {{curso.profesor}}<br>
    Inicio: {{curso.fechaInicio | date: 'dd/MM/yyyy'}}<br>
    Fin: {{curso.fechaFin | date: 'dd/MM/yyyy'}}<br>
    Inscripci&oacute;n abierta: {{curso.inscripcionAbierta}}<br>


    <button  mat-icon-button (click)="OnCerrar()">close</button>

  </mat-card-content>
</mat-card>
