<mat-card *ngIf="cursosDetalle">
  <mat-card-title>
    Detalle de curso
  </mat-card-title>
  <mat-card-content>
    id: {{cursosDetalle.idCurso}}<br>
    Nombre: {{cursosDetalle.nombreCurso}}<br>
    Comision: {{cursosDetalle.comision}}<br>
    Profesor: {{cursosDetalle.profesor}}<br>
    Inicio: {{cursosDetalle.fechaInicio | date: 'dd/MM/yyyy'}}<br>
    Fin: {{cursosDetalle.fechaFin | date: 'dd/MM/yyyy'}}<br>
    Inscripci&oacute;n abierta: {{cursosDetalle.inscripcionAbierta}}<br>


    <button  mat-icon-button (click)="OnCerrar()">close</button>

  </mat-card-content>
</mat-card>
