

<div>
  <div class="row">
    <div class="col mt-4">
      <div>
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">¡Conoce nuestros cursos!</button>

        <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
          <div class="offcanvas-header">
            <h2></h2>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <a href="">HTML</a><br>
            <a href="">CSS</a><br>
            <a href="">Javascript</a><br>
            <a href="">Angular</a><br>
            <a href="">React</a><br>
            <a href="">Inglés</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
