<div>
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid" >
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div *ngIf="sesion$ | async as sesion" class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a  class="navbar-brand" href="https://www.coderhouse.cl" target="_blank">Coderhouse</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <button *ngIf="sesion.usuarioActivo!.usuario != ''" class="btn btn-close-white pointer" data-bs-dismiss="offcanvas"
                    [routerLink]="['usuarios']">Lista de Usuarios</button>

            <button *ngIf="sesion.usuarioActivo!.usuario != ''" class="btn btn-close-white pointer" data-bs-dismiss="offcanvas"
                    [routerLink]="['usuario']">Usuario</button>
          </li>
        </ul>
        <div *ngIf="sesion$ | async as sesion">
         <button  *ngIf="sesion.usuarioActivo!.usuario === ''" class="btn btn-dark" routerLink="autenticacion/login">Iniciar sesi&oacute;n</button>
          <button *ngIf="sesion.usuarioActivo!.usuario != ''" class="btn btn-dark" routerLink="autenticacion/login">Cerrar sesi&oacute;n</button>
        </div>

      </div>
    </div>
  </nav>
</div>
