<div class="btn-agregar margin-btn">
  <button   mat-stroked-button color="basic" (click)="agregarAlumno()">
    Alta Alumno <mat-icon>person_add</mat-icon>
  </button>
</div>

<div class="container border mb-5">
  <div class="row-">
    <div class="col-auto">


      <div class="center">
        <h1>Alumnos</h1>
      </div>

      <div>
        <mat-form-field appearance="standard">
          <mat-label>Filtrar</mat-label>
          <input matInput type="text" (keyup)="filtrar($event)" placeholder="Buscar..." >
        </mat-form-field>
      </div>


      <!--dataSource siempre al inicio de la lista-->
      <mat-table [dataSource]="ELEMENT_DATA" class="">
        <ng-container matColumnDef="nombre">
          <mat-header-cell *matHeaderCellDef> Nombre</mat-header-cell>
          <mat-cell *matCellDef="let persona"> {{persona.nombre | mostrarApellido : persona.apellido }} </mat-cell>
        </ng-container>

        <!-- <ng-container matColumnDef="apellido">
           <mat-header-cell *matHeaderCellDef > Apellido </mat-header-cell>
           <mat-cell *matCellDef="let persona"> {{persona.apellido}} </mat-cell>
         </ng-container>-->

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef> Correo</mat-header-cell>
          <mat-cell *matCellDef="let persona"> {{persona.email}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="borrar">
          <mat-header-cell *matHeaderCellDef> Borrar</mat-header-cell>
          <mat-cell *matCellDef="let persona">
            <mat-icon class="mat-18 pointer" (click)="borrar (persona.id)">delete_outline</mat-icon>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="editar">
          <mat-header-cell *matHeaderCellDef> Editar</mat-header-cell>
          <mat-cell *matCellDef="let persona">
            <button mat-button mat-icon-button (click)="editar(persona)" title="Editar">
              <mat-icon matSuffix>mode_edit</mat-icon>
            </button>
          </mat-cell>
        </ng-container>


        <ng-container matColumnDef="curso">
          <mat-header-cell *matHeaderCellDef> Curso</mat-header-cell>
          <mat-cell *matCellDef="let persona"> {{persona.curso}}
            <mat-icon class="mat-18 colorGray"></mat-icon>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="comision">
          <mat-header-cell *matHeaderCellDef> Comision</mat-header-cell>
          <mat-cell *matCellDef="let persona"> {{persona.comision}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="verDetalle">
          <mat-header-cell *matHeaderCellDef> </mat-header-cell>
          <mat-cell *matCellDef="let persona">
            <button mat-button mat-icon-button (click)="verMas(persona)" title="Ver más">
              <mat-icon matSuffix>loupe</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <app-ver-detalle-alumno (cerrar)="cerrarDetalle()"></app-ver-detalle-alumno>



        <!-- variable para indicar cada columna de la pagina. siempre al final -->

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns : displayedColumns;"></mat-row>
      </mat-table>

    </div>
  </div>
</div>
