<div>
  <app-header></app-header>
</div>
<div>
  <app-lateral-navbar></app-lateral-navbar>
</div>
<div class="btn-agregar">
  <button  mat-stroked-button color="basic" (click)="agrgarAlumno()">
    Alta Alumno
  </button>
</div>
<br>
<div>
  <app-lista (alumno)="editarAlumno($event)" [listaAlumnosInput]="listaAlumnos" *ngIf="lista"></app-lista>
</div>
<div>
  <app-editar-alumno-form (alumnoActualizado)="alumnoActualizado($event)" [alumno]="alumno" *ngIf="editarForm"></app-editar-alumno-form>
</div>

<div>
  <app-alta-alumno (alumnoNuevo) = "alumnoNuevo($event)" *ngIf="this.agregarForm" ></app-alta-alumno>
</div>
<hr>

<div>
  <app-cursos></app-cursos>
</div>
