

<!--dataSource siempre al inicio-->

<mat-table [dataSource]="ELEMENT_DATA">

  <ng-container matColumnDef="nombre">
    <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
    <mat-cell *matCellDef="let persona"> {{persona.nombre}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="apellido">
    <mat-header-cell *matHeaderCellDef > Apellido </mat-header-cell>
    <mat-cell *matCellDef="let persona"> {{persona.apellido}} </mat-cell>
  </ng-container>


  <ng-container matColumnDef="borrar">
    <mat-header-cell *matHeaderCellDef> Borrar </mat-header-cell>
    <mat-cell *matCellDef="let persona">
      <mat-icon class="mat-18 colorGray pointer" (click)= "borrar (persona.id)">remove</mat-icon>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="editar">
    <mat-header-cell *matHeaderCellDef> Editar </mat-header-cell>
    <mat-cell *matCellDef="let persona">
    <input type="text" id="editar-input" #newEditar>
    <button mat-button mat-icon-button>editar</button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="curso">
    <mat-header-cell *matHeaderCellDef> Curso </mat-header-cell>
    <mat-cell *matCellDef="let persona"> {{persona.curso}}
      <mat-icon class="mat-18 colorGray pointer"></mat-icon>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="comision">
    <mat-header-cell *matHeaderCellDef> Comision</mat-header-cell>
    <mat-cell *matCellDef="let persona"> {{persona.comision}} </mat-cell>
  </ng-container>



  <!-- variable para indicar cada columna de la pagina. siempre al final -->

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns : displayedColumns;"></mat-row>
</mat-table>

<!-- Poner este boton en formulario para inscribirse a cursos

<div class="example-button-container">
  <p class="colorGray">Agregar Alumno</p>
  <button mat-mini-fab color="black" aria-label="Example icon button with a plus one icon">
    <mat-icon>plus_one</mat-icon>
</div>
  </button> -->


