<div class="btn-agregar margin-btn">
  <button mat-stroked-button color="basic" (click)="agregarIncripcion()">
    Alta Inscripcion
    <mat-icon>add</mat-icon>
  </button>
</div>

<div class="container border">
  <div class="row-">
    <div class="col-auto">


      <div class="center">
        <h1>Inscripciones</h1>
      </div>

      <div>
        <mat-form-field appearance="standard">
          <mat-label>Filtrar</mat-label>
          <input matInput type="text" (keyup)="filtrar($event)" placeholder="Buscar...">
        </mat-form-field>
      </div>


      <!--dataSource siempre al inicio de la lista-->
      <mat-table [dataSource]="ELEMENT_DATA">


        <ng-container matColumnDef="idInscripcion">
          <mat-header-cell *matHeaderCellDef>id de inscripcion:</mat-header-cell>
          <mat-cell *matCellDef="let inscripcion"> {{inscripcion.idInscripcion}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="idCurso">
          <mat-header-cell *matHeaderCellDef>Id curso:</mat-header-cell>
          <mat-cell *matCellDef="let inscripcion"> {{inscripcion.idCurso}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="idAlumno">
          <mat-header-cell *matHeaderCellDef>Id alumno:</mat-header-cell>
          <mat-cell *matCellDef="let inscripcion"> {{inscripcion.idAlumno}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="profesor">
          <mat-header-cell *matHeaderCellDef> Profesor:</mat-header-cell>
          <mat-cell *matCellDef="let inscripcion"> {{inscripcion.profesor}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="fechaInicio">
          <mat-header-cell *matHeaderCellDef>Inicio del curso:</mat-header-cell>
          <mat-cell *matCellDef="let inscripcion"> {{inscripcion.fechaInicio | date: 'dd/MM/yyyy'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="fechaFin">
          <mat-header-cell *matHeaderCellDef>Fin del curso:</mat-header-cell>
          <mat-cell *matCellDef="let inscripcion"> {{inscripcion.fechaFin | date: 'dd/MM/yyyy'}} </mat-cell>
        </ng-container>




        <ng-container matColumnDef="acciones">
          <mat-header-cell *matHeaderCellDef> Acciones</mat-header-cell>
          <mat-cell *matCellDef="let inscripcion">

            <mat-icon matSuffix class="mat-18 pointer me-2"(click)="editar(inscripcion)" title="Editar">mode_edit</mat-icon>
            <mat-icon matSuffix class="mat-18 pointer me-2" (click)="borrar (inscripcion.idInscripcion)" title="Eliminar">delete_outline</mat-icon>
            <mat-icon matSuffix  class="mat-18 pointer" (click)="verMas(inscripcion.idInscripcion)" title="Ver más">loupe</mat-icon>


          </mat-cell>
        </ng-container>


        <!--<app-ver-detalle-inscripcion (cerrar)="cerrarDetalle()"></app-ver-detalle-inscripcion>-->
        <!-- variable para indicar cada columna de la pagina. siempre al final -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns : displayedColumns;"></mat-row>
      </mat-table>

    </div>
  </div>
</div>

