<div class="container mt-5">
  <div class="row g-3">
    <div *ngFor="let alumnos of ALUMNOS" class="col-3">
      <div class="card card-body">
        <h3>
          {{alumnos.nombre}}
          {{alumnos.apellido}}
          <br>
          {{alumnos.id}}
          <br>
          {{alumnos.fechaInicio | date : "shortDate"}}
        </h3>
        <ul class="list-group">
          <li *ngFor="let curso of alumnos.curso; index as i" class=" align-items-center">
            <h6>Cursando:</h6>
            <h5 *ngFor="let curso of Cursos " class="col-md-3" >{{curso.Cursos}} </h5>
          </li>
        </ul>
        <button mat-raised-button color="accent" href="#" class="pointer-event">Go somewhere</button>
      </div>
    </div>
  </div>
</div>
