<br>
<div class="container-fluid">
  <div class="row">
    <div class="col mt-4">
      <div>
        <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"
                ><mat-icon>arrow_forward_ios</mat-icon> </button>
        <br>
        <br>


        <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
          <div class="offcanvas-header background-color">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body background-color ">
            <p class="display-6 colorWhite pointer" data-bs-dismiss="offcanvas"  (click)="redirect('cursos/lista-curso')">Cursos</p>
            <br>
            <br>
            <p class="display-6 colorWhite pointer" data-bs-dismiss="offcanvas">Inscribete aquí</p>
            <br>
            <br>
            <p class="display-6 colorWhite pointer"  data-bs-dismiss="offcanvas" (click)="redirect('alumnos/lista-alumnos')">Alumnos</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--<div class="mt-5">
  <button mat-button mat-stroked-button color="accent">¡Inscribete aqui!</button>
</div>-->
