<ng-container>

  <div class="container-fluid">
    <div class="row">
      <div class="col mt-4">
        <div *ngIf="sesion$ | async as sesion">
          <button *ngIf="sesion.usuarioActivo!.usuario != ''" class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions"
                  aria-controls="offcanvasWithBothOptions">
            <mat-icon>arrow_forward_ios</mat-icon>
          </button>
          <br>
          <br>


          <div  class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
               aria-labelledby="offcanvasWithBothOptionsLabel">
            <div class="offcanvas-header background-color">
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body background-color ">
              <p class="display-6 colorWhite pointer" data-bs-dismiss="offcanvas"
                 routerLink="curso/lista-curso">Cursos</p>
              <br>
              <br>
              <p class="display-6 colorWhite pointer" data-bs-dismiss="offcanvas"
                 routerLink="inscripcion/lista-inscripcion">
                Inscripciones</p>
              <br>
              <br>
              <p class="display-6 colorWhite pointer" data-bs-dismiss="offcanvas"
                 routerLink="alumno/lista-alumnos">Alumnos</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</ng-container>

<!--<div class="mt-5">
  <button mat-button mat-stroked-button color="accent">¡Inscribete aqui!</button>
</div>-->
