<!--Editar y agregar alumno-->

<!--{{this.formularioPersona.value | json}}-->
<div class="container mt-5">
  <!--{{this.formularioPersona.value | json}}-->
  <div>
    <h1>Editar Alumno</h1>
  </div>
  <div class="row">
    <div class="col">
      <form class="example-form" [formGroup]="formularioPersona">
        <div class="col-12 d-flex">

         <div class="col-6 me-3">
           <mat-form-field class="example-full-width" appearance="fill">
             <mat-label>Nombre</mat-label>
             <input matInput formControlName="nombre" (keyup)="alumno()">
           </mat-form-field>
         </div>
          <div class="col-6">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Apellido</mat-label>
              <input matInput formControlName="apellido">
            </mat-form-field>
          </div>


        </div>
        <div class="d-flex">
          <div class="col-6 me-3">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Email</mat-label>
              <input type="email" matInput formControlName="email" placeholder="ejemplo@ejemplo.com">
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">

              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email es un campo <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Teléfono</mat-label>
              <span matPrefix>+ &nbsp;</span>
              <input type="tel" matInput placeholder="555-555-1234" formControlName="telefono">
              <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
          </div>


        </div>
        <div class="d-flex">
          <div class="col-6 me-3">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Comision</mat-label>
              <input matInput formControlName="comision" [disabled]="true">
            </mat-form-field>
          </div>

          <div class="col-6 ">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Cursando</mat-label>
              <input matInput formControlName="curso">
            </mat-form-field>
          </div>

        </div>
        <div class="col-6">
          <mat-form-field appearance="fill">
            <mat-label>Cursos</mat-label>
            <mat-select formControlName="cursos" multiple>
              <mat-option *ngFor="let curso of listaCursos" [value]="curso">{{curso.nombreCurso}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="d-flex">
          <div class="me-5">
            <button mat-stroked-button color="primary">Volver</button>
          </div>
          <div>
            <button mat-stroked-button color="primary" (click)="guardarAlumno()">Confirmar</button>
          </div>
        </div>
        <br>
        <br>
      </form>
    </div>
  </div>
</div>

<!--
INPUT PARA CONFIRMAR EMAIL
   <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Confirmar Email</mat-label>
              <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">

              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
 -->
