<br>
<div class="container-fluid">
  <div class="row">
    <div class="col mt-4">
      <div>
        <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">¡Ver cursos!</button>
        <br>
        <br>


        <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
          <div class="offcanvas-header background-color">
            <h1 class="colorWhite"> ¡Elige tu curso! </h1>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body background-color">
            <a class="display-6 colorWhite" href="" target="_blank">HTML</a>
            <br>
            <br>
            <a class="display-6 colorWhite" href="" target="_blank">CSS</a>
            <br>
            <br>
            <a class="display-6 colorWhite" href="" target="_blank">Javascript</a>
            <br>
            <br>
            <a class="display-6 colorWhite" href="" target="_blank">Angular</a>
            <br>
            <br>
            <a class="display-6 colorWhite" href="" target="_blank">React</a>
            <br>
            <br>
            <a class="display-6 colorWhite" href="" target="_blank">Inglés</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

