<br>
<div class="container-fluid">
  <div class="row">
    <div class="col mt-4">
      <div>
        <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"
                ><mat-icon>forward</mat-icon> </button>
        <br>
        <br>


        <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
          <div class="offcanvas-header background-color">
            <h1 class="colorWhite" appTamanoLetra> Ver más </h1>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body background-color">
            <a class="display-6 colorWhite" href="" target="_blank">Cursos</a>
            <br>
            <br>
            <a class="display-6 colorWhite" href="" target="_blank"></a>
            <br>
            <br>
            <a class="display-6 colorWhite" href="" target="_blank"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--<div class="mt-5">
  <button mat-button mat-stroked-button color="accent">¡Inscribete aqui!</button>
</div>-->
